@mixin font-face($family, $file, $path, $svg, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($path + $file + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
